{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's happening?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'css/newsfeed.css' %}>
   
    
    <link rel="shortcut icon" href="../static/img/yello LOGO.png" type="image/x-icon">
</head>
{% load static %}
        <link type="text/css" href="{% static 'css/newsfeed.css' %}" rel="stylesheet">
        <link type="text/css" href="{% static 'css/alert.css' %}" rel="stylesheet">


<body>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <div class="container-fluid" style="padding: 0;">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
            <a class="navbar-brand" style="color: white;" href="#">
                <!-- Twitter logo -->
                <img src="{% static 'img/yello LOGO.png' %}" width="80" height="40" class="d-inline-block align-top" alt="">
                <!-- Twitter logo -->
                YELLO
            </a>
            
            <!-- Botón de hamburguesa para pantallas pequeñas -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Contenedor del menú -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <!-- Enlaces del menú -->
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link text-white" type="submit">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'logout' %}" class="nav-link text-white" type="submit">Logout</a>
                    </li>
                    
                </ul>
            </div>
            
            <!-- Botones en la esquina izquierda (solo visible en pantallas grandes) -->
        
        </nav>
    </div>
    
    
    

    {% block content %}
    <div id="main" class="container-fluid d-flex">
        <!-- Barra Izquierda -->
        <div class="sidebar m-5 d-none d-md-block">
            <div class="">
                <div class="card " style="width: 18rem; text-align:center;border-radius: 20px;">
                    <img class="card-img-top rounded-circle"
                        style="width:60%; position: relative;left: 62px;padding-top: 20px;"
                        {{request.user.profile.image.url}} alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Tony Stark</h5>
                        <h6 class="card-title font-weight-bold">@iron_man</h6>
                        

                        <p class="card-text">You know who i am. </p>
                        <h6 class="card-title font-weight-bold">
                        100 Followers   
                        100 Following
                        </h6>
                        <a href="" class="btn  text-white rounded-pill">Mi perfil</a>
                    </div>

                </div>
                <button id="addATweetLeft" onclick="addTweet()" type="button"
                style="border-radius: 30px; font-size: 1.1rem; font-weight:bold;"
                class="btn btn-lg btn-block mt-4 text-white ">Editar mi perfil</button>
            </div>
        </div>
        <!-- End Barra Izquierda -->

        <!-- Center -->
        <div class="content">
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
            <div id="inputTweetArea" class="tweet-wrap">
                <div class="d-flex">
                    <div class="col-xs">
                        <!-- Image form -->
                        <img {{request.user.profile.image.url}} alt="" class="avator">
                        <!-- Formulario -->
                    </div>

                    <!-- Formulario -->
                    <form class="col pr-0">
                        <textarea class="form-control w-100" id="contentsBox"
                            placeholder="What's happening?"></textarea>
                        <div class="container d-flex" style="padding: 1rem 0 0 0;">
                            <div id="leftBtn">
                                <div id="charBadge" class="badge badge-pill badge-primary ml-2"
                                    style="display: flex;align-items: center;width: 50%;justify-content: center;">
                                    <div id="charCountArea">140</div>
                                </div>
                            </div>

                            <div id="rightBtn">
                                <button class="btn rounded-pill"
                                    style="width: 100%;">Tweet</button>
                            </div>
                        </div>
                    </form>
                    <!-- Formulario -->

                </div>
                <div class="d-flex justify-content-center mt-2">
                </div>
            </div>

            <!-- Tweets -->
            <div id="tweetCards">
                <!-- FOR LOOP HERE -->
                <div class="tweet-wrap" style="border-radius:20px">
                    <div class="tweet-header">
                        <img {{request.user.profile.image.url}}
                            alt="" class="avator">
                        <div class="tweet-header-info">
                            * based snow bunny <span>@yumjeezy</span><span>. Jun 27
                            </span>
                            <p>🔥 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua. </p>
                        </div>
                    </div>
                    <div class="tweet-info-counts d-flex justify-content-between mt-2">
                            
                        <form  method="post" method="post" style="display: inline;">
                            <div class="comments">
                                <button  type="submit" class="like-btn btn btn-light" style="border: none;"> 
                                    <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg"
                                    width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                                        <path
                                            d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z">
                                        </path>
                                    </svg>
                                </button>
                                <div class="comment-count" style="color: #333;"></div>
                            </div>
                            
                        </form>
                       
                        
                        <!-- likes -->
                        <form action="{% url 'like_post' post.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                           
                            <button type="submit" class="like-btn btn btn-light" style="border: none;">
                                <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg"
                                    width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true">
                                    <path
                                        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                                    </path>
                                </svg>
                            </button>
                            <div class="like-count" style="color: #333;">
                                <p> {{post.Cantidad_likes}}  </p>
                            </div>
                        </form>
                        
                        <!-- DELETE -->
                        {% if request.user == post.user %}
                        <form action="{% url 'delete' post.id %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button type="submit" class="delete-btn btn btn-light" style="border: none;">
                                <i class="fa fa-trash-o" style="color:#FF0000; font-size: 20px" aria-hidden="true"></i>
                            </button>
                        </form>
                    {% endif %}
                       
                        <!-- END-DELETE -->
                    </div>
                        <!-- END-DELETE -->
                    </div>
                </div>
                <!-- FOR LOOP HERE -->

            </div>
            <!-- EndTweets -->


        </div>
        <!-- End Center -->


        <!-- Barra Derecha -->
        <div class="sidebar m-5 d-none d-xl-block">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Who to Follow
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="https://twitter.com/playboicarti" style="text-decoration: none;color: #657787;">@playboicarti</a></li>
                    <li class="list-group-item"><a href="https://twitter.com/LILUZIVERT" style="text-decoration: none;color: #657787;">@LILUZIVERT</a></li>
                    <li class="list-group-item"><a href="https://twitter.com/NARUTO_kousiki" style="text-decoration: none;color: #657787;">@NARUTO_kousiki</a></li>
                </ul>
            </div>
        </div>
    </div>

    {% endblock content %}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    
      

</body>

</html>