/* Estilos para alertas */
.alert {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  
  .alert-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
  }
  
  .custom-alert {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
